.nav {
  padding: 20px 10px 15px 10px;
  background-color:$bg-color;
  @include dfb;
  width: 100%;
  .nav__search{
    display: none;
  }
  @media (min-width: $screen-tablet) {
    .nav__search{
    display: block;
    width: 60%;
    margin: 0;
  }
  gap: 5px;
  align-items: center;
  }
  @media (min-width: $screen-desktop) {
    .nav__search{
    flex-shrink: 0;
    min-width: 320px;
  }
  }
}
.nav__wrap-item--desctop{
  @media (min-width: $screen-desktop) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
  
    align-self: left;
  }
}
.nav__logo {
  width: 36px;
  height: 36px;
  background-color: $color-accent;
  border-radius: 50%;
  color: white;
  font-family: "Monly Lite", sans-serif;
  font-size: 18px;
  text-align: center;
  padding-top:6px;
  flex-grow: 0;
}
.nav__leng {
}
.nav__login {
  display: flex;
  gap:5px;
}
.nav__logo-text {
}
.nav__search {
  background-color:$bg-color;
  width: 90%;
  padding-bottom: 15px;
  border: 1px solid $color-accent;
  border-radius: 100px;
  padding: 10px 20px;
  margin: 0 auto;
  margin-bottom: 15px;
  @include dfc;
  gap:10px;
   @media (min-width: $screen-tablet) {
    display: none;
  }
}
.nav__input-search {
  width: 90%;
  border: none;
  &:focus,:active{
    border: none;
     outline: 0;
    outline-offset: 0;
  }
}
.nav__search-icon {
  width: 15px;
  height: 15px;
}
.header {
  background-image: url(../../img/mobile/header/bg-m.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  @media (min-width:$screen-tablet) {
    background-image: url(../../img/header/bg-t.jpg);
  }
  @media (min-width:$screen-desktop) {
    background-image: url(../../img/header/bg-d.jpg);
  }
}
.header__wrap {    
  width: 100vw;
  height: 100vh; 
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  @include dfc;
  background-image: url(../../img/mobile/header/brush-m.png);
  @media (min-width: $screen-tablet) {
    background-image: url(../../img/header/brush-d.png);
    background-size:  80%;
  }

}
.header__title {
  @include fontTitle;
  font-size: 56px;
  line-height: 70px;
  color: rgb(255, 251, 245);
   z-index: 2;
  @media (min-width: $screen-tablet) {
     font-size: 85px;
  }
  @media (min-width:$screen-desktop) {
     font-size: 95px;
     line-height: 115px;
  }
}
.header__arrow {
}