@import './swiper';
.place__nav {
  margin-top: 25px;
  margin-bottom: 30px;
}
.place__nav-link {
}
.place__nav-burger{
margin-bottom: 60px;
position: relative;
}
.place__burger-wrap{
  position: absolute;
  top: 60px;
  left: 0;
}




.header__place-title {
  @include fontTitle;
  color: $color-accent;
  font-size: 45px;
  margin-bottom: 16px;
  text-align: left;
}
.header__place-link {
  font-size: 16px;
  color: $color-highlighter;
}

.palce__content-nav {
  margin: 35px 15px;
  padding: 5px;
  border: 1px solid $color-accent;
  border-radius: 10px;
}
.palce__content-ul {
  display: flex;
  gap: 2px;
  align-items: center;
  flex-wrap: wrap;
}
.palce__content-li {
  padding: 14px 20px;
  &:hover{
    cursor: pointer;
    background-color: $color-accent;
    color:white ;
    border-radius: 5px;
  }
}

