@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@font-face {
  font-family: "Monly Lite";
  src: url("../../fonts/Monly/Monly-Bold.woff");
}
body {
  color: $color-dark;
  background-color: $bg-color;
  @include mf;
  min-width: $screen-mobile;
}
.main{
  margin: 0 auto;
@media (min-width:$screen-mobile) {
   min-width: $screen-mobile;
    
    padding: 0 10px;
  }
  @media (min-width:$screen-tablet) {

    min-width: $screen-tablet;
    margin: 0 auto;
    padding: 0 24px;
  }
  @media (min-width:$screen-desktop) {
    min-width: $screen-desktop;
    margin: 0 auto;
    padding: 0 70px;
  }
}
