$color-accent: rgb(255, 96, 0);
$color-light-accent:rgb(255, 165, 89);
$color-dark: rgb(69, 69, 69);
$screen-desktop: 1140px;
$screen-tablet: 768px;
$screen-mobile:320px;
$bg-color:rgb(255, 251, 245);
$bgSection:rgb(254, 246, 235);
$color-highlighter: rgb(43, 113, 203);